body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  user-select: none;
}
.box-selector-one{
  position: absolute;
  left: 30vw;
  top: 30vh;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 11px;
  background-color: white;
  left: 11vw;
}
.box-content-text{
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}